In [1]:
import pandas as pd
train = pd.read_csv('train1.csv')
test = pd.read_csv('test1.csv')


train.head(3)

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,ID
0,0,2016-10-31 18:49:35,122437314,12811130,0,20160408,0,2,194,0,0,0,7508018,26,1,100000001
1,0,2016-11-01 06:42:41,131340580,13947748,0,20160902,0,2,224,0,0,0,4331004,26,0,100000002
2,0,2016-11-01 06:46:32,129011934,13640610,0,20160722,0,2,185,0,0,0,282118,26,1,100000003

In [55]:
features = ['context_type', 'listen_type', 'user_id', 'user_age']
target = ['is_listened']
train[features].head(3)

   context_type  listen_type  user_id  user_age
0             0            0        0        26
1             0            0        0        26
2             0            0        0        26

In [56]:
train[target].head(3).values

array([[1],
       [0],
       [1]], dtype=int64)

In [57]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(train[features], train[target])

H:\Anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [58]:
predictions = gnb.predict(test[features])

predictions

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [59]:
submission = pd.DataFrame({'ID':test['ID'], 'is_listened':predictions})
submission.head()

          ID  is_listened
0  200000001            1
1  200000002            1
2  200000003            1
3  200000004            1
4  200000005            1

In [60]:
filename = 'Ashwini.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: Ashwini.csv